body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h1 {
  padding: 20px;
}

a {
  border: 1px solid red;
  box-sizing: border-box;  
  text-align: center;
  font-size: 22px;
  margin: 20px;
  flex: 1;
  cursor: hand;
}

.layout {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
}

.view {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 90%;   
}
